<header
  class="db cf bg-promo overflow-hidden"
  style="background-image:url(./resources/mac_main.png);"
>
  <div class="lead fl pa4 pa5-l">
    <div class="dt">
      <h1 class="dtc logo f3 lh-title ma0 fw5 near-white pr3">
        <img src="resources/Strategr.png" alt="Strategr logo" />
        <span class="ml1">Strategr</span>
      </h1>
      <div class="dtc v-mid">
        <span id="macOS">
          <a
            class="github-button"
            href="https://github.com/khrykin/StrategrDesktop/releases/latest/download/Strategr.dmg"
            data-color-scheme="no-preference: dark; light: dark; dark: dark;"
            data-icon="octicon-cloud-download"
            data-size="large"
            aria-label="Download Strategr for macOS"
            >macOS<span id="tagName"></span
          ></a>
        </span>
        <span id="win">
          <a
            class="github-button"
            href="https://github.com/khrykin/StrategrDesktop/issues/1"
            data-color-scheme="no-preference: dark; light: dark; dark: dark;"
            data-icon="octicon-issue-opened"
            data-size="large"
            aria-label="Download Strategr for Windows"
            >Windows
          </a>
        </span>
      </div>
    </div>
    <h2 class="f-headline f1-m f3-s cyan ma0 mv4">
      <span class="db text-grad-promo">
        No-Fuss<br />
        Time <br />
        Management
      </span>
    </h2>
    <p class="mt4 mb2 f4 f3-l db fw3 near-white o3 i lh-copy">
      Stategr helps you maximize your productivity, giving you the quickest and
      most effective way to time-box your day with <em>strategies</em>.
    </p>
    <p class="mt0 mb3 f4 f3-l db fw3 near-white o3 i lh-copy">
      A strategy consists of <em>activities</em> and <em>sessions</em>.
    </p>
    <p class="mt0 mb0 f4 f3-l db fw3 near-white o3 i lh-copy">
      <a id="scrollDown" class="cyan dim no-underline" id="scrollDown" href=""
        >Find out more >>></a
      >
    </p>
  </div>
</header>
